* {
	margin: 0;
	padding: 0;
	
}

.grid {
   display: grid;
   position: absolute;
   grid-template-columns: 1fr 0.5fr 1fr;
   grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
   height: 80vh;
   width: 50%;
   background-color: #3C68A8;
   color: white;
   font-family: 'poppins', sans-serif;
   top: 10%;
   left: 25%;
   border-radius: 10px;
}

.login-title {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;
}

.user {
	grid-column: 2/3;
	grid-row: 3/4;
}

.login-user {
	height: 38px;
	width: 300px;
}

.password {
	grid-column: 2/3;
	grid-row: 4/5;
}

.login-password {
	height: 38px;
	width: 300px;
}

.confirm-password {
	grid-column: 2/3;
	grid-row: 5/6;
}

.login-confirm {
	height: 38px;
	width: 300px;
}

.login-button {
	grid-column: 2/3;
	grid-row: 6/7;
	height: 50px;
	width: 309px;
}

.link {
	grid-column: 2/3;
	grid-row: 7/8;
	font-size: 13px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
